:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Trenda';
  src: url('src/assets/fonts/TrendaHeavy.otf') format('opentype'),
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.appstore {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Adjust as needed */
  background-color: black;
  border-radius: 5px;
  width: 60%; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  margin: 0 auto; /* Centers the container */
}

.text-input {
  background-color: black;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.fade-out {
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#icon-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

#icon-container img {
  width: 40px;
  height: 40px;
  margin: 0 5px;  /* Optional: Adds spacing between icons */
}

.submit-button {
  position: absolute;
  right: 0; /* Right position with some padding from the edge */
  top: 0; /* Aligns top edge of the button with the container */
  bottom: 0; /* Aligns bottom edge of the button with the container */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; /* Ensures no extra space is used for borders */
  background-color: white; /* Example background color, change as needed */
  color: black; /* Text color */
  padding: 0 12px; /* Horizontal padding only, adjust as needed */
  box-sizing: border-box; /* Ensures padding and border are included in height/width calculations */
}

.letter {
  display: inline-block;
  transition: transform 0.3s ease;
  margin: 0 0.001em
}

.flex-container {
  display: flex;
  justify-content: center;
  
}
.coming {
  font-family: 'Trenda', sans-serif;
  font-size: 5em;
  letter-spacing: -5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
.soon {
  font-family: 'Trenda', sans-serif;
  font-size: 5em;
  letter-spacing: -5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.letter {
  font-family: 'Trenda', sans-serif;
}

.flex-container:hover .letter:nth-child(1) {
  transform: translate(0%, -20%) rotate(5deg);
}
.flex-container:hover .letter:nth-child(2) {
  transform: translate(0%, 20%) rotate(-3deg);
}
.flex-container:hover .letter:nth-child(3) {
  transform: translate(0%, -40%) rotate(-5deg);
}
.flex-container:hover .letter:nth-child(4) {
  transform: translate(0%, 15%) rotate(5deg);
}
.flex-container:hover .letter:nth-child(5) {
  transform: translate(0%, 20%) rotate(-6deg);
}
.flex-container:hover .letter:nth-child(6) {
  transform: translate(30%, 20%) rotate(10deg);
}
.flex-container:hover .letter:nth-child(7) {
  transform: translate(0%, 20%) rotate(-5deg);
}
.flex-container:hover .letter:nth-child(8) {
  transform: translate(0%, -32%) rotate(8deg);
}
.flex-container:hover .letter:nth-child(9) {
  transform: translate(0%, 20%) rotate(-5deg);
}
.flex-container:hover .letter:nth-child(10) {
  transform: translate(10%, 20%) rotate(9deg);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }

  .appstore {
    filter: invert(100%);
  }

  .logo:hover {
    filter: invert(100%) drop-shadow(0 0 2em #646cffaa);
  }

  #icon-container img {
    filter: invert(100%);
  }
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#myForm {
  position: relative;
}

#response {
  position: absolute;
  top: 85%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .input-container {
    background-color: #f7f7f7;
  }
  .text-input {
    background-color: #f7f7f7;
  }
  .coming {
    color: black;
  }
  .soon {
    color: black;
  }
  .submit-button {
    color: white;
    background-color: black;
  }
}
/* Media queries for responsiveness */
@media (max-width: 768px) { /* Targets tablets and mobile devices */
  
  h1 {
    font-size: 2.5em; /* Smaller font size for smaller screens */
  }
  
  #app {
    padding: 1rem; /* Reduce padding */
  }
  
  .input-container {
    width: 80%; /* Increase width for better use of space */
    padding: 8px; /* Adjust padding */
  }
  
  .text-input {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  
  .coming {
    font-size: 4em; /* Reduce headline size for readability */
  }
  .soon {
    font-size: 4em; /* Reduce headline size for readability */
  }
  
  #icon-container img {
    width: 30px; /* Smaller icons */
    height: 30px;
  }
  
  .logo, .appstore {
    height: 2em; /* Reduce logo and appstore icon size */
    padding: 1em; /* Reduce padding */
  }

  .submit-button {
    padding: 0 8px; /* Adjust button padding */
  }
}

@media (max-width: 480px) { /* Targets small mobile devices */
  h1 {
    font-size: 2em; /* Even smaller font size */
  }
  
  .input-container {
    width: 95%; /* Utilize almost full width */
  }
  
  #response {
    top: 90%; /* Adjust position */
  }
  
  .coming {
    font-size: 3em; /* Adjust heading size */
  }
  .soon {
    font-size: 3em; /* Adjust heading size */
  }

  #icon-container {
    margin-top: 10px; /* Less space */
  }
}
